.swiper {
    width: 100%;
    height: 100%;

}

.swiper-slide {
    /* height: 310px !important; */
}

ul {
    list-style-type: none;
    /* height: 200px !important; */
}



.swiper-container {
    width: 500px;

}

.swiper-wrapper {
    padding-inline-start: 0;
}

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
} */

.swiper-scrollbar {
    position: relative;
    z-index: 20;
    top: 445px;
    opacity: 1;
    background: none !important;
}

.swiper-scrollbar-drag {
    background-color: white;
}

@media (max-width:320px) {
    /* .swiper-slide img {
        height: 20%;
        margin-top: -20px;
    } */

    .swiper {
        margin-top: -28px;
    }


    /* background: rgba(white, white, white, 1); */
    .swiper-scrollbar {
        position: relative;
        z-index: 20;
        top: 427px;
        opacity: 1;

    }
}

/* width: 300px;
        height: 396px; */
/* margin-top: -16px;
        width: 262px;
        height: 396px; */
/* @media (max-width:320px) {
    .swiper-slide {
        margin-top: -16px;
        
        border: 1px solid rebeccapurple;
    }

    .swiper-slide img {
       
        width: auto;
        border: 1px solid rgb(100, 153, 51);
    }
} */