.swiper{
    width: 100%;
    height: 100%;
    
}
ul{
    list-style-type: none;
}



.swiper-container{
    width: 500px;
}

.swiper-wrapper{
    padding-inline-start: 0;
}

.swiper-slide img{
    display: block;
    width: 100%;
    height: 555px;
} 
.swiper-scrollbar{
   position:relative;
   z-index: 0;
    top: 570px;
}
