.boss {
    text-align: left;

}

.cont {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.cart {}

.inter {
    color: #393939;
    font-size: 24px;
}

.news {
    font-size: 24px;
}

/*  */

@media (max-width:320px) {
    .boss {
        width: 320px;
    }

    .inter {
        font-size: 16px;
    }

    .cont {
        overflow: scroll;
        flex-wrap: nowrap;
        margin-bottom: 20px;
        height: 440px;
        width: 320px;

    }

    .cont::-webkit-scrollbar {
        display: none;
    }

    .news {
        text-align: center;
    }
}