.bosses {
    margin-top: 14px;
    margin: 0 auto;

}

.boss_slides {
    width: 1700px;
    margin: 0 auto;

}

.hit_container {
    width: 1500px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.hit_cart {
    display: flex;
    flex-wrap: wrap;

}

.testing {
    text-align: left;
}

.btn {
    width: 107px;
    height: 32px;
    background-color: black;
    color: white;
    margin-top: 10px;
    border: 0px;
    font-size: 13px;
}

.collection {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 150px;
}

.flexes {
    display: flex;
    margin: 0 auto;


}

.desc_hed {
    font-size: 14px;
    color: #393939;
}

.desc_t {
    color: #979797;
    font-size: 14px;
}

.flexeses {
    display: flex;
    margin: 0 auto;

}

.collection_item {
    text-align: center;
    width: 365px;
    margin-right: 8px;

}

.collection_item img {
    width: 100%;
    height: 100%;
}

.collection_item p {

    margin-top: -48px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.cl_btn {
    width: 100%;
    height: 70px;

    border: 0px;
    background-color: #1D1D1B;
    color: white;

    font-size: 20px;
    z-index: 2;
    background: url(https://i.ibb.co/R2FJjRz/right-White.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 260px;

}

.btn_cont {
    background-color: #1D1D1B;
    margin-top: -10px;
}

.btn_cont:hover {
    background-color: #ffffff;
    transition: background .5s;
}

.cl_btn:hover {
    color: #1D1D1B;

    background: url(https://i.ibb.co/Jyn1BSt/right-Black.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 260px;
    transition: background .5s;
    transition: color .5s;

}

.collection_container {
    display: flex;
}

.statText {
    font-size: 15px;
}

.shadow {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 0.16290266106442575) 48%, rgba(0, 0, 0, 1) 100%);
    opacity: 0.3;
    position: absolute;
    width: 20.97%;
    height: 39.3%;
}

.end_item {
    background-color: white;
    width: 400px;
    height: 300px;
    margin-right: 20px;
}

.end_item p {
    font-size: 14px;

}

.item_img {
    margin-top: 20px;
    width: 49px;
    margin: 0 auto;

}

.item_img img {
    margin-top: 20px;

    width: 49px;
}

.mid {
    text-align: center;
    font-size: 24px;
    color: #393939;
    /* margin:  0 auto; */
}

.midas {
    margin: 0 auto;
}

.imgRes {
    background-size: 100%;
    height: 405px;

}

.imges {
    border: 1px solid green;
    width: 3px;
}

@media (max-width:1366px) {
    .bosses {
        width: 1168px;

    }

    .end_item {
        width: 286px;
        height: 248px;
    }

    .boss_slides {
        width: 1168px;

    }

    .hit_container {
        width: 1168px;
        margin-top: 44px;
        margin-bottom: 18px;
    }

    .collection {
        margin-bottom: 64px;
    }

    .collection_item {
        text-align: center;
        width: 286px;
        height: 374px;

        margin-right: 8px;
    }

    .collection_container:first-child {
        /* border: 1px solid red; */
    }

    .imgRes {
        /* background-size: 100%; */
        height: 330px;

    }

    .cl_btn {
        height: 44px;
    }

    .imgSwipe {

        width: 110%;
        margin-left: -80px;
    }
}


.lor {
    position: absolute;
    margin-top: 110px;
    margin-left: 200px;
    font-family: 'Anko Personal Use';
}

.firstlor {
    line-height: 0.8;
    font-size: 56px;
}

.fLor {
    color: #58646F;
    height: 86px;
    width: 176px;
    letter-spacing: 10px;
}

.fsor {
    color: #58646F;
    width: 113px;
    height: 94px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 50px;
}


.precent {
    color: #ABADAE;
    font-family: 'Anko Personal Use';

    position: absolute;
    margin-top: -340px;
    margin-left: 680px;
}

.sale {
    font-size: 35px;
    margin-bottom: 30px;
}

.tree {
    font-size: 95px;
    transform: rotate(90deg);
}

.allFor {
    font-size: 24px;
    margin-top: 40px;
}



@media (max-width:320px) {
    .bosses {

        width: 320px;
    }

    .boss_slides {
        width: 320px;
        margin: 0 auto;
        margin-bottom: 40px;

    }

    .bosses {
        width: 320px;
    }



    .lor {
        position: absolute;
        margin-top: 70px;
        margin-left: -1px;
        font-family: 'Anko Personal Use';

    }

    .firstlor {
        margin-top: 15px;
        margin-left: 33px;
        line-height: 0.8;
        font-size: 19px;
    }

    .fLor {
        color: #58646F;
        height: 30px;
        width: 62px;

        letter-spacing: 3px
    }

    .fsor {
        color: #58646F;
        width: 39px;
        height: 11px;
        font-size: 6px;
        margin-top: 0px;
        margin-left: 59px;
    }

    .precent {
        color: #ABADAE;
        font-family: 'Anko Personal Use';

        position: absolute;
        margin-top: -140px;
        margin-left: 200px;
    }



    .sale {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .tree {
        font-size: 40px;
        transform: rotate(90deg);
    }

    .allFor {
        font-size: 10px;
        margin-top: 15px;
    }

    .imgSwipe {
        width: 900px;
    }

    .mid {
        font-size: 18px;
        font-weight: 500;
    }

    .flexeses {
        flex-direction: column;
    }

    .end_item {
        background-color: white;
        width: 286px;
        height: 248px;
        margin: 0px auto;
        margin-bottom: 8px;
    }

    .end_item p {
        font-size: 14px;

    }

    .end_item h2 {
        font-size: 14px;
    }

    .item_img {
        margin-top: 20px;
        width: 80px;
        margin: 0 auto;

    }

    .item_img img {
        margin-top: 20px;
        width: 62px;
        /* height: 46px; */

    }

    .imgSwipe {

        margin-top: 20px;
        width: 150%;
        margin-left: -80px;

        height: 100%;
    }

    /* .swipSlide img {
        margin-top: 20px;
        width: 150%;
        margin-left: -80px;

        height: 100%;
    } */

    .shadow {
        position: fixed;
        height: 7%;
        width: 22.7%;
    }

    .testing {
        overflow-y: scroll;
        width: 320px;
        margin-top: -30px;
        margin-left: 16px;
        height: auto;
    }

    .testing::-webkit-scrollbar {
        display: none;
    }

    .hit_cart {
        flex-wrap: nowrap;

    }



    .mid {
        margin-top: 30px;

    }



    .btn {}

    .btn_conten {
        margin-top: -20px;
    }

    .flexes {
        width: 320px;
        overflow: scroll;
    }

    .flexes::-webkit-scrollbar {
        display: none;
    }

    .collection {
        margin-top: 20px;
        margin-left: 16px;
    }

    .statText {
        font-size: 18px;
    }

    .cl_btn {
        font-size: 14px;
    }

    .collection_item p {

        margin-top: -48px;
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
}