.swiper {
    width: 100%;
    height: 100%
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%
}

.swiper-wrapper {
    padding-inline-start: 0;
}

.swiper-container {}

.swiper-pagination-bullet-active {
    background-color: black;
}

@media (max-width:320px) {
    .swiper-slide img {
        width: 150%;
        margin-left: -80px;
    }
}

.swiper-pagination {
    margin-bottom: -12px;
}