.boss {
    /* border: 1px solid red; */
    width: 1700px;
    margin: 0 auto;
    font-family: 'Montserrat';
}

.cont,
.articul,
.color,
.cont_images_bigImg {
    display: flex;
}

/*фотки*/
.cont_images {
    margin-top: 10px;
    width: 1000px;
    /* border: 1px solid black; */
}

.cont_images_bigImg {
    flex-wrap: wrap;
}

.bigImg_item {
    width: 480px;
    margin: 5px;
}

.smallImg_item {
    width: 240px;
    margin: 5px;
}


/*описание*/
/* .forSquare{
    background-color: white;
    border: 1px solid red;
} */
.forSquare {


    width: 600px;
    height: 634px;

    text-align: left;

    margin-left: 30px;
    margin-top: 16px;


    background-color: white;

}

.square {
    margin-left: 20px;
}

.h,
.price {
    font-weight: 500;
}

.articul {
    margin-top: -14px;
}

.price {
    margin-top: 0px;
}

.desc {
    font-weight: 500;
}

.description {
    width: 560px;


}

.adaptive {
    display: none;
}

.text {
    color: #6A6A6A;
    line-height: 170%;
    margin-top: -10px;

}

.pAr {
    margin-right: 5px;
    font-weight: 800;
}

.line {
    margin-top: -17px;

    display: flex;
    flex-wrap: wrap;
}

.item {
    margin-right: 40px;
    display: flex;
}

.itemP {
    margin-left: 15px;
    margin-top: 20px;

    font-size: 18px;
}

.addCart {
    background: #1D1D1B;
    ;
    color: white;

    width: 500px;
    height: 50px;

    font-size: 19px;

    border: 0px;
}

/* .addCart:hover{
    background-color: white;
    color: #1D1D1B;
    border: 1px solid #1D1D1B;;
} */
/* .btnContainer {
    border: 1px solid red;
} */

.btnImg {
    position: absolute;
    margin-left: -90px;
    margin-top: 1px;
    width: 22px;
}


.btnp {

    margin-top: -15px;
}

.toggleElect {
    height: 50px;
    width: 50px;

    color: white;

    border: 0px;

    background: #1D1D1B;
    ;

    margin-left: 10px;

}

.buttons {
    display: flex;
}





/*color*/
.colorGroup {
    display: flex;
    margin-top: 18px;
    margin-left: 10px;
}

.colorItem {
    height: 15px;
}

.opac {
    width: 8px;
    height: 8px;

    margin-right: 10px;


    border-radius: 100%;

    /* background-color: red; */

}

.nones {
    text-decoration: line-through;
    color: gray;
}

@media (max-width:1366px) {
    .boss {
        width: 1168px;
    }

    .cont_images {
        width: 624px;
        text-align: left;
    }

    .cont_images_bidImg {
        flex-wrap: wrap;
    }

    .bigImg_item {
        width: 290px;
        margin: 4px;
        margin-bottom: 0px;
    }

    .smallImg_item {
        width: 142px;
        height: 240px;
        margin-right: 1px;
    }

    /* /////////////////////////// */
    .forSquare {


        width: 520px;
        height: 434px;

        margin-top: 11px;
    }

    .square {
        margin-left: 24px;
    }

    .h {
        font-size: 24px;
        color: #393939;
    }

    .articul {
        font-size: 14px;
        color: #1D1D1B;
    }

    .price {
        font-size: 24px;
        color: #393939;
    }

    .desc {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 16px;
        color: #393939;
    }

    .text {
        font-size: 14px;
        color: #6A6A6A;
    }

    .description {
        width: auto;
    }

    .item {
        font-size: 14px;
        margin-right: 5px;
        display: flex;
    }

    .itemP {
        margin-left: 5px;
        margin-top: 14px;

        font-size: 14px;
    }

    .marg {

        margin-right: 62px;
    }

    .left {
        margin-left: -19px;
    }

    .left,
    .margs {
        margin-top: -13px;
    }

    .addCart {
        background: #1D1D1B;
        ;
        color: white;

        width: 428px;
        height: 44px;

        font-size: 14px;


    }



    .btnImg {



        /* margin-bottom: -10px; */
        margin-left: -90px;
        margin-top: -2px;
        width: 20px;

    }

    .toggleElect {
        height: 44px;
        width: 44px;

        color: white;

        border: 0px;

        background: #1D1D1B;
        ;

        margin-left: 10px;

    }

    .h3 {
        font-size: 14px;
        color: #1D1D1B;
    }

    .btnP {
        font-size: 14px;
    }

}

/* 428 44 */

@media (max-width:320px) {
    .boss {
        margin-top: 30px;
        width: 288px;
    }

    .cont {
        flex-direction: column;
    }

    .cont_images {
        margin: 0 auto;
        flex-direction: row;

        width: 288px;
        height: 394px;
        flex-wrap: nowrap;
        overflow: scroll;
    }

    .cont_images::-webkit-scrollbar {
        display: none;
    }

    .cont_images_bidImg {
        display: none;
    }

    .bigImg_item,
    .smallImg_item {

        display: none;
    }

    .adaptive {
        display: flex;
    }

    .adImg,
    .Img_item {
        width: 262px;
        height: 394px;
        margin-right: 8px;
    }

    .forSquare {


        width: 288px;
        height: 532px;

        text-align: left;

        margin-left: 0px;
        margin-top: 18px;


        background-color: white;

    }

    .h,
    .price {
        font-size: 18px;
    }

    .pAr,
    .desc {
        font-size: 14px;
    }

    .text {
        font-size: 13px;
    }

    .left {
        margin-left: 0px;
    }

    .item:first-child {
        margin-bottom: -14px;
    }

    .addCart {
        margin-top: 12px;
    }

    .toggleElect {
        width: 44px;
        height: 44px;
        margin-top: 12px;
    }

    .square {
        margin-left: 12px;
    }
}

/*262 394*/
.cerd {
    margin-top: 4px;
}