.boss {
    margin: 0 auto;
    display: flex;

    width: 1168px;
    height: 844px;
}

.face,
.img {
    padding: 5px;
}

.img:first-child {
    margin-bottom: 24px;
}

.imgs {
    height: 844px;
    display: flex;
}

.twoImg {
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 844px;
    margin-right: 24px;
}

.face {
    margin: auto 0;
    margin-right: 25px;
}

.text {
    width: 465px;
    height: 637px;
    font-size: 15px;

    line-height: 24px;
    /* 
   padding-left: 40px;
   padding-top: 20px; */
    margin: 103px 0px;
    text-align: left;
    margin: auto auto;

    background-color: white;
}

.text p {
    margin: auto 24px
}

.text h2 {
    font-size: 24px;
    margin-left: 24px;
}

@media (max-width:320px) {
    .boss {
        width: 288px;
        flex-direction: column;
        margin: 0 auto;
        border: 1px solid red;
        margin-top: 20px;
    }

    .imgs {
        width: 288px;
        height: 345px;
    }

    .img {
        width: 138px;
        height: 166.5px;
    }

    .las {
        width: 138px;
        height: 166.5px;
    }

    .face,
    .img {
        padding: 0px;
    }

    .face {
        margin: auto 0;
        margin-right: 12px;
    }

    .twoImg {
        margin-right: 12px;
    }

    .img:first-child {
        margin-bottom: 12px;
    }

    .text {
        width: 288px;
        height: 643px;
    }

    .text h2 {
        font-size: 18px;
    }

    .text p {
        font-size: 12px;
    }
}