.boss{
    background-color:  rgba(255, 255, 255, 1);
    height: 153px;
/* width: 100%; */
  font-size: 17px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.up,.navi,.tel,.down,.plus{
    display: flex;
}
.up,.down{
    margin-left: 99px;
    margin-right: 95px;
}
/*верхний*/
.navi{
  text-align: center;
}

.navi__item{
margin-right: 24px;
}

.tel{
    margin-left: 968px;
}

/*нижний*/


.logo{
    margin-right: 34px;
}
.inp{
    margin: auto 0;
}
.input{
    width: 900px;
    height:44px;
    background-color: rgb(240, 237, 237);
    border: 0px;
    font-size: 20px;
}


.elect,.cart{
    margin-left: 35px;
    color: rgba(57, 57, 57, 1);
}

.heart,.shop{
width: 24px;
height: 24px;
margin-top: 16px;
margin-right: 4px;
}
.lup{
    order: -1;
    margin-left: -25px;
}
.none{
    text-decoration: none;
    color: rgba(57, 57, 57, 1);
    display: flex;
}

.hid{
    width: 200px;
    background-color:  rgba(255, 255, 255, 1);

    position: absolute;
    top: 10px;

    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
   
}

.line{
   
    border: .1px solid rgb(126, 124, 124);
}