
.boss{
    width: auto;
    height: 235px;
    background-color: rgba(29, 29, 27, 1);
    color: white;
    margin: 0 auto;
    background-size: 100%;
    margin-top: 70px;
}


.item{
    display: flex;
}
.block{
    margin-top: 50px;
    margin-right: 250px;
    line-height: .7;
    text-align: left;
    font-weight: 100;
}
.med{
    margin-top: 50px;
    
    line-height: .7;
    text-align: left;
    font-weight: 100;
}
.blockS{
    margin-top: 50px;
    margin-right: 25px;
    line-height: .7;
    text-align: left;
    font-weight: 100;
}
.forLogo{
    margin: auto 0;
        padding-right: 200px;
    
}
.logo{
    width: 243px;
    height: 105px;
    padding-left: 60px;
    padding-right: 120px;
}
.none{
    text-decoration: none;
    color: white;
}

.icon{
   position: relative;
   top: 3px;
}

.tel{
   margin-right: 4px;
    
}
.info{
    text-align: left;
    margin: auto 0;
    margin-left: 25px;
    padding-bottom: 10px;
    color: 
    rgba(185, 185, 185, 1);
}
.adre{
    text-decoration: none;
    color: white;
}

.blockHid{
    margin-top: 50px;
   
    line-height: .1;
    text-align: left;
    font-weight: 100;
    border: 1px solid gray;
    border-radius: 10px;
}

.flex{
    display: flex;
    flex-direction: row;
    margin-right: 250px;
}

@media (max-width:1366px){
    .forLogo{
        margin: auto 0;
       
            width: 243px;
            height: 105px;
            margin-left: -60px;
    }
    .item{
        width: 1168px;
        border: 1px solid red;
       
        margin: 0 auto;
    }
    .logo{
        width: 243px;
        height: 105px;
        background-origin: 1px solid rgb(0, 2, 128);
        padding-right: 0px;
    }
    .block{
        margin-right: 148px;
    }
    .blockS{
        margin-top: 50px;
        margin-right: 25px;
    
    width: 164px;
    height: 114px;
    
}
    .flex{
        margin-right: 150px;
    }
    .med{
        border: 1px solid red;
      width: 194px;
    }
}
/*margin-top: 50px;
margin-right: 250px;
line-height: .7;
text-align: left;
font-weight: 100;*/
/*.block{
    margin-top: 50px;
    
    line-height: .7;
    text-align: left;
    font-weight: 100;
}*/
/*.logo{
        width: 243px;
        height: 105px;
       
        padding-right: 120px;
    }*/