.boss {
    text-align: left;

}

.wrap {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;

    margin-left: 150px;
    margin: 0 auto;
}

.zagol {
    margin-left: 180px;
}

.none {
    text-decoration: none;
    color: black;
}

.number {
    background: white;
    width: 44px;
    height: 44px;
}

@media (max-width:1366px) {
    .boss {
        width: 1168px;
        margin: 0 auto;
        text-align: left;
    }

    .wrap {
        width: 1168px;

    }

    .zagol {
        margin-left: -0px;
    }
}

.resultText {
    color: #393939;
    font-size: 24px;
}

.nothing {
    color: #393939;
    font-size: 14px;
}