.boss{
    text-align: left;
    
    width: 1600px;
}
.newT{
    margin-left: 20px;
}
.item{
    background-color: white;
    display:  flex;

    padding: 10px;

    margin-top: 20px;
    margin-left: 80px;
}

.char{
    margin-left: 20px;
}
.h{
    font-size: 20px;
    font-weight: 700;
}

.text{
    margin-top: 20px;
    line-height: 1.5;
}

@media (max-width:1366px){
    .boss{
        width: 1168px;
        margin: 0 auto;
    }
    .item{
        height: 258px;
        width: 1168px;
        margin-left: 0px;
        margin-top: 12px;

        font-size: 14px;
    }
    .imag{
        width: 226px;
        margin: 16px;
    }
    .char{
        margin-top: 13px;
    }
}

/* .item{
    background-color: white;
    display:  flex;

    padding: 10px;

    margin-top: 20px;
    margin-left: 80px;
}*/