.boss {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* width: 1900px; */
  background-color:rgb(241, 245, 245);
  font-family: 
  Montserrat;

}

.btn_up{
  position: fixed;
  left: 2600px;
}
/* //rgb(241, 245, 245); */

.pad{
  margin-top: -34px;
  
}

.forHover{
margin-top: -15px;
margin-bottom: 2px;
}
.test{
  border: 1px solid green;
  width: 1900px;
 height: 1000px;
  
}
.fon{
  position: fixed;
  z-index: 1;
background-color: rgb(95, 89, 89);
width: 100%;
height: 100%;
opacity: 0.5;
}

.h1 {
  font-size: 20px;
  text-align: left;
  margin-left: 14px;
}

.item {
  text-align: left;
  margin-left: 14px;
}

.inp {
  width: 392px;
  height: 44px;
}

.p {
  text-align: left;
  font-size: 13px;
  margin-bottom: 4px;
}

.form {
  padding-top: 20px;
  margin: 0 auto;
  width: 440px;
  height: 672px;
  background: white;
}

.errors {
  color: red;
}

.submit {
  width: 392px;
  height: 44px;

  background-color: #1D1D1B;
  color: white;

  border: 0px;


  margin-top: 34px;
  margin-left: -20px;


}

.checkbox{
  height: 20px;
  font-size: 15px;

  display: flex;

  margin-top: 18px;
  margin-left:14px ;


}

.checks{
  margin-top: -1px;
  width: 20px;
  height: 20px;
  
}

.ofera{
  margin: 0 10px;
}

.ofer_a{
  color: blue;
}

.formes_cont{
  position: fixed;
  z-index: 10;
  /* left: 730px;
  top: 100px; */
  top: 100px;
  left: 0px;
  right: 0px;
}
.submit{
  transition: background 2s;
}
.submit:disabled{
background: #585856;
transition: background 2s;
}

/*gal*/

.galochka{
  height: 264px;
  width: 328px;

  margin:  0 auto;

  text-align: center;
  display:  flex;
  flex-direction: column;

  background-color: white;

 
}
.icon_h1{
  margin-top: 8px;
}
.cont_icon{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 30px;

}

.icon_p{
  width: 280px;
  margin: 0 auto;
  margin-top: -19px;
}

.icon_btn{
  margin-top: 16px;

  width: 280px;
  height: 44px;

  background-color:  #1D1D1B;
  color: white;
  border: 0px;
}





/* .helps{
  width: 1368px;
  background: rgb(224, 209, 209);

 height: 2000px;
 margin: 0 auto;
}


.App {
  text-align: center;
  background: rgb(207, 0, 0);
  height: 1000px;
  
  margin: 0 auto;
} */

.cont{
  text-align: left;
  width: 1168px;
 
  margin: 0 auto;
  margin-top: 20px;

  display: flex;
}

.img{
  width: 500px;
}
.text{
  margin-left: 24px;
}

.items{
  width: 644px;
  height: 45px;

  background-color: white;

  overflow: hidden;
  margin-top: 20px;
  transition: height 2s;
}
.chan{
  height: 196px;
  transition: height 2s;
}

.itemes{
  margin-left: 20px;
  padding-top:1px ;
  
}
.hes{
  font-size: 16px;
  font-weight: normal;
}

.pes{
  font-size: 14px;
}
.strel{
position: relative;
top: -145px;
left: 600px;
transition: transform .4s;
}

.rost{
  transform: rotate(180deg);
  transition: transform .2s;
 }



 /*okoshko*/
 
.plav{
 
  
  text-align: right;

  position: fixed;
  right: 140px;
  top: 80%; 
  z-index: 100;
}
.uper{
  margin-bottom: 29px;
}
.cont_tele{
  display: flex;
  
  
}
.tel_element{
  margin-right: 6px;
}
.tel_element:last-child{
  margin-right: 23px;
}
.tel_elements{
  margin-left: 23px;
}
.iks{
  margin-top:10px ;
  margin-right: 2px;
}

/*tel*/

.container_tel{
  text-align: center;
  width: 436px;
  height: auto;
  background-color: white;
  border: 1px solid black;

  margin: 0 auto;
}

.item_h1{
  font-size: 20px;
  margin-bottom: 6px;
}
.tel_itemes{
  width: 360px;
  height: 80px;
}


.tel_p{
  font-size: 18px;
 margin-top: 6px;
}
.tel_p:last-child{
  margin-right: 143px;
  margin-top: -18px;
}

.raspol{
   margin-top: 0px;
  margin-left: 30px; 
}

.tel_form{
margin-left: 38px;
}

.tel_cont{
  width: 277px;
  height: 44px;
}
.tel_cont:first-child{
  margin-bottom: 10px;
  margin-top: 12px;
}

.tel_cont:last-child{
  margin-bottom: 12px;
}

.tel_inp{
  height: 100%;
  width: 100%;



  padding-left: 43px;
}
.people{
  background: #fff url("https://i.ibb.co/167fmYg/Group-1251.png") 15px 15px no-repeat;
}

.ring{
  background: #fff url("https://i.ibb.co/rd6R43G/Vector-20.png") 15px 10px no-repeat;

} 

.tel_btn{
  width: 328px;
  height: 44px;

  margin-left: 38px;
  margin-bottom: 32px;


}
.submit_tel{
  width: 100%;
  height: 100%;

  border: 0px;

  background: black;
  color: white;

  font-size: 16px;

  transition: background 2s;
}

.submit_tel:disabled{
  background: rgb(85, 92, 92);
  transition: background 2s;
}


.img_inp{
  position: absolute;

}

.minuss{
 margin-bottom: -10px;
 margin-left: 400px;
}

/* .formes_cont{
  position: fixed;
  z-index: 10;

  top: 100px;
  left: 0px;
  right: 0px;
} */
.tele_cont{
  position: fixed;
  z-index: 10;

  top: 300px;
  left: 0px;
  right: 0px;
} 


@media (max-width:1366px){
  .formes_cont{
    position: fixed;
    z-index: 10;
    /* left: 730px;
    top: 100px; */
    top: 100px;
    left: 0px;
    right: 0px;
  }
  .strel{
    position: relative;
    top: -152px;
    left: 610px;
    transition: transform .4s;
    }
}





.selectCount {
  border: 1px solid red;
}

.sele {
  position: absolute;
  /* bottom: 412px; */
  background: url("https://i.ibb.co/rHQk9Tq/twemoji-flag-for-flag-kyrgyzstan.png") no-repeat;
  padding-left: 25px;
  /*margin-bottom: 20px; */
  margin-bottom: 10px;
  border: 0px;


}

.tesr {
  margin-bottom: -16px;
  margin-left: 5px;
}

.ps {
  font-size: 13px;
  margin-bottom: 20px;
}

.numinp{
  padding-left: 80px;
}

.numinp{
  width: 316px;
}